.hero {
    max-width: 1030px;
    margin: 0 auto 200px;
    text-align: center;
    position: relative;
}

.heroTitle {
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 80px;
    margin-bottom: 64px;
}

.heroDescription {
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.decorImg {
    position: absolute;
    right: -150px;
    top: 0;
    width: 85px;
}

.row {
    position: relative;
}

.rowImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-bottom: 200px;
}

.content,
.imgWrapper {
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name {
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    margin-bottom: 56px;
}

.text {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}

.buttonWrapper {
    margin-top: 56px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(424px, auto);
    gap: 50px;
}

.card {
    border-radius: 48px;
    border: 1px solid #000;
    padding: 64px 80px;
}

.cardTitle {
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    margin-bottom: 32px;
}

.cardText {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}

@media screen and (max-width: 1399.98px) {
    .hero {
        padding-top: 50px;
    }

    .decorImg {
        right: 50%;
        transform: translateX(50%);
        top: -50px;
    }
}

@media screen and (max-width: 991.98px) {
    .hero {
        margin-bottom: 100px;
    }

    .rowImg {
        flex-direction: column;
        margin-bottom: 100px;
        gap: 50px;
    }

    .rowImgLast {
        flex-direction: column-reverse;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 767.98px) {
    .hero {
        margin-top: 50px;
    }

    .heroTitle {
        font-size: 37px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 40px;
    }

    .heroDescription {
        font-size: 20px;
        line-height: 30px;
    }

    .name {
        font-size: 37px;
        line-height: 47px;
        margin-bottom: 30px;
    }

    .buttonWrapper {
        align-self: center;
    }

    .cards {
        grid-template-rows: auto;
    }

    .card {
        padding: 40px;
    }

    .cardTitle {
        font-size: 37px;
        line-height: 47px;
    }

    .cardText {
        font-size: 20px;
        line-height: 30px;
    }
}

@media screen and (max-width: 575.98px) {
    .rowImg {
        gap: 30px;
    }
}