.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.content,
.imgWrapper {
    flex: 1;
}

.imgWrapper {
    text-align: center;
}

.title {
    font-size: 50px!important;
    font-style: normal;
    font-weight: 500;
    line-height: 64px!important;
    margin-bottom: 50px;
}

.list {
    position: relative;
}

.item {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    margin-left: 26px;
    margin-bottom: 20px;
}

.item:last-child {
    margin-bottom: 0;
}

.buttonWrapper {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 991.98px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 767.98px) {
    .title {
        font-size: 37px!important;
        line-height: 50px!important;
    }

    .item {
        font-size: 20px;
        line-height: 30px;
    }

    .buttonWrapper {
        margin-top: 50px;
    }
}