.section {
    position: relative;
}

.inner {
    max-width: 700px;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-bottom: 120px;
}

.decor1 {
    position: absolute;
    top: 300px;
    left: 0;
    width: 174px;
}

.decor2 {
    position: absolute;
    top: -50px;
    right: 100px;
    width: 82px;
}

@media screen and (max-width: 991.98px) {
    .decor1,
    .decor2 {
        display: none;
    }
}